body {
}

table {
    margin: 0px auto 0px auto;
}

th {
    padding: 10px;
    border: 1px solid black;
    text-align: center
}

td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}


body {
    color: black
}

@font-face {
    font-family: 'IRANSansWeb';
    src: url('content/fonts/eot/IRANSansWeb.eot') format(‘eot’), url('content/fonts/woff/IRANSansWeb.woff') format('woff'), url('content/fonts/ttf/IRANSansWeb.ttf') format(‘truetype’);
}

@media (min-width:900px) {
    .topnav {
        display: none
    }
}

@media only screen and (max-device-width: 900px) {
}

@media only screen and (max-device-height :1400px) {
}
