
<style>
    body {
        color: black
    }

    @font-face {
        font-family: 'IRANSansWeb';
        src: url('content/fonts/eot/IRANSansWeb.eot') format(‘eot’), url('content/fonts/woff/IRANSansWeb.woff') format('woff'), url('content/fonts/ttf/IRANSansWeb.ttf') format(‘truetype’);
    }

    @media (min-width:900px) {
        .topnav {
            display: none
        }
    }


    @media only screen and (max-device-width: 900px) {
    }

    @media only screen and (max-device-height :1400px) {
    }
</style>


<div class="topnav">
    <a ng-click="backHome()" class="navbar">مرکز دکتر محمد رضا خدابخش</a>
    <div id="menu">
        <a ng-click="btn_reserve()">رزرو وقت ویزیت</a>
        <a ng-click="btn_about()">درباره دکتر محمد رضا خدا بخش</a>
    </div>
    <a ng-click="openMenu()" class="icon">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="w3-content w3-container" id="about">

    <h3 class="w3-center">درباره ما</h3>
    <p style="font-size:17px; text-align:justify">
        سلام من محمدرضا خدابخش هستم
        دکتري تخصصي روانشناسی از دانشگاه علامه طباطبائی تهران
        متخصص روانكاوي و روان درمانگري
        سايكوتراپيست
        داراي گواهي جامع چند تخصصي زوج درمانگر و اختلالات جنسي
        عضو هيئت علمي دانشگاه
        داراي سابقه تدريس در دانشگاه علامه طباطبايي تهران و ساير..
        داراي ١٠٠ مقاله معتبر و بين المللي در زمينه روان
        داراي گواهي single subject
        عضو برترباشگاه پژوهشگران جوان و نخبگان كشور هستم
        عضو انجمن روانشناسی ايران
        داور مجلات علمی پژوهشی( پرستاري ايران، اصول بهداشت روانی، طب کار،سلامت کار ايران) و داور مجله isi
        موفق در كسب رتبه هاي زير :
        رتبه ۱ در مصاحبه ورودي دانشگاه علامه طباطبائی و رتبه دکتري ۳ در دانشگاه فردوسی مشهد.رتبه دکتري ۴ در دانشگاه اصفهان، رتبه دکتري ۷ در دانشگاه تربیت مدرس و رتبه کل ۸ و رتبه اول قبولی دوره دکتري در دانشگاه علامه طباطبايی تهران در سال۱۳۹۱

        داراي نمره برتر آزمون زبان انگليسي MCHE و Tolimo
        داور مجله (Iranian journal of public health (ISI
        داور مجله هاي علمي -
        ‏The international journal of occupational and environmental medicine

        همايش ها :

        اولين کنگره ملی روانشناسان و مشاوران ايران
        کنگره بين المللی مامايی و بهداشت باروری ايران( با امتياز بازاموزی ۵)
        ارائه سخنرانی در کنگره بين المللی مامايی و بهداشت باروری ايران

        -همايش هاي بين المللي :

        ‏5th World Conference on Psychology, Counseling and Guidance, WCPCG
        " با عنوان:
        ‏Investigation of relationship between humor styles with team cohesion among athletes
        2. خلاصه مقاله پذيرفته شده در "2nd WORLD CONFERENCE on PSYCHOLOGY and SOCIOLOGY Occupational stressors among nurses: Review of coping mechanisms with stress
    </p>
    <div class="w3-row" id="discription">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img src="../../img/folder.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
        </div>
        <div class="w3-col m6  w3-padding-large">
            <p style="font-size:17px; text-align:justify">
                در زمينه هاي زير ميتونم به شما كمك كنم :

                تشخيص هر نوع اختلال روان و بيماري مربوط به روان
                درمان اختلالات رواني و مشكلات ذهن
                ازدواج و تست هاي تخصصي قبل از ازدواج
                مشكلات بين زوجين و ريشه يابي (زوج درماني)
                كودك
                مشكلات فردي
                روابط
                اضطراب و استرس
                شخصيت
                انگيزش
                تحصيلي
                و غيره ....
            </p>
        </div>
    </div>
</div>
