
<style>
    table {
        margin: 0px auto 0px auto;
    }

    th {
        padding: 10px;
        border: 1px solid black;
        text-align: center
    }

    td {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
    }

    .time {
        font-family: monospace;
        width: 2ch;
        overflow: hidden;
        white-space: nowrap;
    }

    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif;
    }

    body, html {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }

    /* Create a Parallax Effect */
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* First image (Logo. Full height) */
    .bgimg-1 {
        background-image: url('/img/adrian-FrSEEdYr418-unsplash.jpg');
        min-height: 100%;
    }

    /* Second image (Portfolio) */

    .w3-wide {
        letter-spacing: 10px;
    }

    .w3-hover-opacity {
        cursor: pointer;
    }

    #discription {
        padding-top: 120px
    }

    #about {
        padding-top: 120px
    }

    .btn_user {
        border: 1px solid lightgray
    }


    @media (min-width:900px) {
        .bgimg-1, .bgimg-2, .bgimg-3 {
            background-attachment: scroll;
            min-height: 400px;
        }

        .historyBtn, .reserveBtn {
            width: 180px
        }

        .button {
            background-color: white;
            height: 40px;
            border-radius: 5px;
            margin: 2px 5px;
            position: center;
            border: 1px solid black;
            width: 23%;
        }

        .ExistTimeButton {
            background-color: white;
            height: 40px;
            border-radius: 5px;
            margin: 2px 1.6%;
            position: center;
            border: 1px solid black;
            width: 30%;
            display: inline-block;
        }

        .button:hover {
            background-color: black;
            color: white
        }




        .dx-placeholder {
            color: black !important;
            text-align: center !important;
            width: 100% !important;
        }

        .historyBtn, .reserveBtn {
            width: 180px
        }

        .dateBox {
            background-color: white;
            width: 10%;
            height: 10%;
            text-align: center;
            margin: 10px;
            border-radius: 5px;
            display: inline-block;
            border: 2px solid #d9d9d9
        }

        .r1 {
            margin: 0px auto 0px auto;
        }


        .r2 {
            margin: 0px auto 0px auto
        }


        .r3 {
            margin: 0px auto 0px auto
        }

        .Time, .Time2 {
            display: none
        }

        #infoinput {
            width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            display: block
        }

        #title {
            margin: 5px auto 0px auto
        }

        #historyNum {
            width: 50%;
            margin: 0 25% 2%;
            border-radius: 5px
        }
    }


    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 900px) {
        .bgimg-1, .bgimg-2, .bgimg-3 {
            background-attachment: scroll;
            min-height: 400px;
        }

        .historyBtn, .reserveBtn {
            width: 180px
        }

        .button {
            background-color: white;
            height: 30px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 2px 8px;
            position: center;
            color: black;
            width: 43% !important
        }


        .field {
            width: 100%;
            display: inline-block;
            padding-top: 25px;
        }

        .dx-placeholder {
            color: black !important;
            text-align: center !important;
            width: 100% !important;
        }

        .dateBox {
            background-color: white;
            width: 20%;
            height: 10%;
            text-align: center;
            margin: 10px;
            border-radius: 5px;
            display: inline-block;
            border: 2px solid #d9d9d9
        }

        .DatePicker {
            margin: 2% 0 2% 0
        }

        .Time, .Time2 {
            display: none
        }

        #infoinput {
            width: 100%;
            border: 1px solid black;
            border-radius: 5px
        }

        #title {
            margin: 5px auto 0px auto
        }

        #historyNum {
            width: 50%;
            margin: 0 25% 2%;
            border-radius: 5px
        }
    }
</style>

<div>
    <button class="btn_user" ng-click="btn_newPsychoanalyst()">افزودن روانکاو</button>
    <button class="btn_user" ng-click="btn_changePassword()">تغییر رمز</button>
    <button class="btn_user" ng-click="btn_deleteUser()">حذف روانکاو</button>
    <button class="btn_user" ng-click="btn_changeVisitingTime()">تغییر زمان</button>
</div>

<div id="popup_newPsychoanalyst" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-animate-zoom" style="width:30%;background-color:#fff">
        <div class="w3-container  w3-display-container">
            <span class="w3-button" onclick="document.getElementById('popup_newPsychoanalyst').style.display = 'none'">x</span>


            <p class="inputTitle">نام</p>
            <input ng-model="FirstName" class="input" />

            <p class="inputTitle">نام خانوادگی</p>
            <input ng-model="LastName" class="input" />

            <p class="inputTitle">تلفن همراه</p>
            <input ng-model="Phone" class="input" />


            <label>شنبه</label>
            <input type="checkbox" ng-model="saturday" />
            <label>یک شنبه</label>
            <input type="checkbox" ng-model="sunday" />
            <label>دوشنبه</label>
            <input type="checkbox" ng-model="monday" />
            <label>سه شنبه</label>
            <input type="checkbox" ng-model="tuesday" />
            <label>چهارشنبه</label>
            <input type="checkbox" ng-model="wednesday" />
            <label>پنج شنبه</label>
            <input type="checkbox" ng-model="thursday" />
            <label>جمعه</label>
            <input type="checkbox" ng-model="friday" />



            <button ng-click="btn_savePsychoanalyst()" style="width:100%; margin:4% auto 2% auto">تایید</button>
        </div>
    </div>
</div>

<div id="popup_newVisitingTime" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-animate-zoom" style="width:30%;background-color:#fff">
        <div class="w3-container  w3-display-container">
            <div class="DatePicker">
                <button ng-click="btn_sat()">شنبه</button>
                <button ng-click="btn_sun()">یک شنبه</button>
                <button ng-click="btn_mon()">دوشنبه</button>
                <button ng-click="btn_tues()">سه شنبه</button>
                <button ng-click="btn_wend()">چهار شنبه</button>
                <button ng-click="btn_thurs()">پنج شنبه</button>
                <button ng-click="btn_fri()">جمعه</button>
            </div>

            <button onclick="document.getElementById('popup_time').style.display = 'none'">ذخیره</button>
        </div>
    </div>
</div>

<div id="popup_time" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-animate-zoom" style="width:30%;background-color:#fff">
        <div class="w3-container  w3-display-container">
            <span class="w3-button" onclick="document.getElementById('popup_time').style.display = 'none'">x</span>
            <div>
                <div style="width:50%;display:inline-block;padding-right:7%">
                    <p class="inputTitle">ساعت شروع</p>
                    <input ng-model="StartTime_minute" class="input" style="width: 15% !important; display: inline-block" />
                    <p style="display: inline-block; font-size:x-large">:</p>
                    <input ng-model="StartTime_hour" class="input" style="width: 15% !important; display: inline-block" />

                    <p class="inputTitle">ساعت پایان</p>
                    <input ng-model="EndTime_minute" class="input" style="width: 15% !important; display: inline-block" />
                    <p style="display: inline-block; font-size:x-large">:</p>
                    <input ng-model="EndTime_hour" class="input" style="width: 15% !important; display: inline-block" />
                </div>
                <div style="float: left; width:50%; display:inline-block; padding:10% 0 0 3%">
                    <button ng-click="btn_saveTime()" style="width:100%; margin:4% auto 2% auto; display:block">ذخیره زمان </button>
                    <!--<button ng-click="btn_editTime()" style="width:100%; margin:4% auto 2% auto; display:block">تغییر زمان </button>
                    <button ng-click="btn_deleteTime()" style="width:100%; margin:4% auto 2% auto; display:block">پاک کردن زمان</button>-->
                </div>

            </div>
            <div style="display:block">
                <button class="ExistTimeButton" ng-repeat="x in ExistTime" ng-click="registeredTime(x.StartTime , x.EndTime, x.Mobile, x.ID, x.Weekdays)">{{x.EndTime}} - {{x.StartTime}}</button>
            </div>
            <div id="btn_saveWeekDay" dx-button="btn_saveWeekDay" style="width:100%; margin:4% auto 2% auto; display:none"></div>
            <div id="btn_rememberVisitingTime" dx-button="btn_rememberVisitingTime" style="width:100%; margin:4% auto 2% auto"></div>
        </div>
    </div>
</div>

<div id="formChangeVisitingTime" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-animate-zoom" style="width:30%;background-color:#fff">
        <div class="w3-container  w3-display-container">
            <span class="w3-button" onclick="document.getElementById('formChangeVisitingTime').style.display = 'none', document.getElementById('changeVisitingTimeDay').style.display = 'block'">x</span>
            <div>
                <div style="width:50%;display:inline-block;padding-right:7%">
                    <p class="inputTitle">ساعت شروع</p>
                    <input ng-model="startTime_minute" class="input" style="width: 15% !important; display: inline-block" />
                    <p style="display: inline-block; font-size:x-large">:</p>
                    <input ng-model="startTime_hour" class="input" style="width: 15% !important; display: inline-block" />

                    <p class="inputTitle">ساعت پایان</p>
                    <input ng-model="endTime_minute" class="input" style="width: 15% !important; display: inline-block" />
                    <p style="display: inline-block; font-size:x-large">:</p>
                    <input ng-model="endTime_hour" class="input" style="width: 15% !important; display: inline-block" />
                </div>
                <div style="float: left; width:50%; display:inline-block; padding:10% 0 0 3%">
                    <button ng-click="btn_editTime()" style="width:100%; margin:4% auto 2% auto; display:block">تغییر زمان </button>
                    <button ng-click="btn_deleteTime()" style="width:100%; margin:4% auto 2% auto; display:block">پاک کردن زمان</button>
                </div>
            </div>
            <button class="ExistTimeButton" ng-repeat="x in ExistTime" ng-click="registeredTime(x.StartTime , x.EndTime, x.Mobile, x.ID, x.Weekdays)">{{x.EndTime}} - {{x.StartTime}}</button>
        </div>
    </div>
</div>


<div id="changeVisitingTimeDay" class="w3-modal" style="display:none">
    <div class="w3-modal-content w3-animate-zoom" style="width:30%;background-color:#fff">
        <div class="w3-container  w3-display-container">
            <span class="w3-button" onclick="document.getElementById('changeVisitingTimeDay').style.display = 'none'">x</span>
            <div class="DatePicker">
                <button ng-click="btn_sat()" style="margin-bottom:1%">شنبه</button>
                <button ng-click="btn_sun()" style="margin-bottom:1%">یک شنبه</button>
                <button ng-click="btn_mon()" style="margin-bottom:1%">دو شنبه</button>
                <button ng-click="btn_tues()" style="margin-bottom:1%">سه شنبه </button>
                <button ng-click="btn_wend()" style="margin-bottom:1%">چهارشنبه</button>
                <button ng-click="btn_thurs()" style="margin-bottom:1%">پنج شنبه</button>
                <button ng-click="btn_fri()" style="margin-bottom:1%">جمعه</button>
            </div>
        </div>
    </div>
</div>


<table class="mainTable">
    <thead>
        <tr>
            <th>موضوع</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>تلفن همراه</th>
            <th>تاریخ</th>
            <th>زمان</th>
            <th>دلیل مراجعه</th>
            <th>وضعیت ازدواج</th>
            <th>سن</th>
            <th>تعداد فرزند</th>
            <th>معرف</th>
            <th>تحصیلات</th>
            <th>رشته تحصیلی</th>
            <th>شغل</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in patients track by $index">
            <td>{{x.Subject}}</td>
            <td>{{x.Name}}</td>
            <td>{{x.LastName}}</td>
            <td>{{x.Mobile}}</td>
            <td>{{x.Calendar.DatePersian.slice(0 , 10)}}</td>
            <td class="time">{{x.Calendar.Time}}</td>
            <td>{{x.Reason}}</td>
            <td>{{x.MaritalStatus}}</td>
            <td>{{x.Age}}</td>
            <td>{{x.ChildrenNum}}</td>
            <td>{{x.Introduced}}</td>
            <td>{{x.Education}}</td>
            <td>{{x.FieldOfStudy}}</td>
            <td>{{x.Job}}</td>
        </tr>
    </tbody>
</table>
