  <table class="mainTable">
        <thead>
            <tr>
                <th>موضوع</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تلفن همراه</th>
                <th>تاریخ</th>
                <th>زمان</th>
                <th>دلیل مراجعه</th>
                <th>وضعیت ازدواج</th>
                <th>سن</th>
                <th>تعداد فرزند</th>
                <th>معرف</th>
                <th>تحصیلات</th>
                <th>رشته تحصیلی</th>
                <th>شغل</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in patients track by $index" >
                <td>{{x.Subject}}</td>
                <td>{{x.Name}}</td>
                <td>{{x.LastName}}</td>
                <td>{{x.Mobile}}</td>
                <td>{{x.Calendar.DatePersian.slice(0 , 10)}}</td>
                <td class="time">{{x.Calendar.Time}}</td>
                <td>{{x.Reason}}</td>
                <td>{{x.MaritalStatus}}</td>
                <td>{{x.Age}}</td>
                <td>{{x.ChildrenNum}}</td>
                <td>{{x.Introduced}}</td>
                <td>{{x.Education}}</td>
                <td>{{x.FieldOfStudy}}</td>
                <td>{{x.Job}}</td>
            </tr>
        </tbody>
    </table>
