<style>
    body {
        background-color: #fafafa;
        color:black
    }

    @media (min-width:770px) {
        .postImage {
            width: 100%;
            height: 50%;
            padding: 3%
        }

        .infoImage {
            width: 100%;
            height: 50%;
            padding:3%
        }

        .info {
            background-color: white;
            margin-right: 5%;
            border-top: 12px solid black !important;
            border:2px solid lightgray
        }

        .post {
            background-color: white;
            margin-right: 14%;
            border-top: 5px solid black !important;
            border: 2px solid lightgray
        }

        .main {
            margin-top: 3%
        }

        .infoText {
            padding: 3%
        }
    }


    @media only screen and (max-device-width: 770px) {
    }


    @media only screen and (max-device-height :1400px) {
    }
</style>


<body>


    <div class="main">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 post">
            <h5>سر تیتر</h5>
            <img ng-src="{{imagePath}}" class="postImage" />
            <p class="infoText">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 info">
            <div class="about">
                <p>دکتر محمد رضا خدابخش</p>
                <img src="img/adrian-FrSEEdYr418-unsplash.jpg" class="infoImage" />
            </div>

            <div>
                <button ng-click="btn_reserve()">تایید</button>
            </div>
        </div>
    </div>



</body>