<style>
    

    @media (min-width:770px) {
      
    }


    @media only screen and (max-device-width: 770px) {
        
    }
</style>


<body>
    <div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h5>سر تیتر</h5>
            <img src="img/matt-duncan-IUY_3DvM__w-unsplash (1).jpg" />
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            <
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="about">
                <img src="img/matt-duncan-IUY_3DvM__w-unsplash (1).jpg" />
                <p>دکتر محمد رضا خدابخش</p>
            </div>

            <div>
                <button ng-click="btn_reserve()">تایید</button>
            </div>
        </div>
    </div>

    <!--Reservation Form-->
    <div id="form" class="w3-modal" style="display:none">
        <div class="w3-modal-content w3-animate-zoom" style="width:40%;background-color:#fff">
            <div class="w3-container  w3-display-container">
                <div class="field">
                    <div dx-scroll-view="scrollViewOptions">
                        <p class="inputTitle">نام</p>
                        <input ng-model="FirstName" class="input" />

                        <p class="inputTitle">نام خانوادگی</p>
                        <input ng-model="LastName" class="input" />
                        
                        <p class="inputTitle">تلفن همراه</p>
                        <input ng-model="Mobile" class="input" />
                        
                        <p class="inputTitle">ایمیل</p>
                        <input ng-model="Email" class="input" />
                        
                        <p class="inputTitle">سن</p>
                        <input ng-model="Age" class="input" />

                        <p class="inputTitle">تعداد فرزند</p>
                        <input ng-model="ChildrenNum" class="input" />

                        <p class="inputTitle">شغل</p>
                        <input ng-model="Job" class="input" />

                        <p class="inputTitle">وضعیت تحصیلی</p>
                        <input ng-model="Education" class="input" />

                        <p class="inputTitle">رشته تحصیلی</p>
                        <input ng-model="FieldOfStudy" class="input" />

                        <p class="inputTitle">وضعیت ازدواج</p>
                        <input ng-model="MaritalStatus" class="input" />

                        <p class="inputTitle">موضوع</p>
                        <input ng-model="Subject" class="input" />

                        <p class="inputTitle">علت مراجعه</p>
                        <input ng-model="Reason" class="input" />

                        <p class="inputTitle">معرف</p>
                        <input ng-model="Introduced" class="input" />
                        
                        <div style="margin:0px auto 0px auto">
                            <button id="sun" class="dateBox" style="display:none" ng-click="sunBtn()">
                                <p>یکشنبه</p>
                                <p id="dateSun"></p>
                                <p id="monthSun"></p>
                            </button>
                            <button id="mon" class="dateBox" style="display:none" ng-click="monBtn()">
                                <p>دوشنبه</p>
                                <p id="dateMon"></p>
                                <p id="monthMon"></p>
                            </button>
                            <button id="tues" class="dateBox" style="display:none" ng-click="tuesBtn()">
                                <p>سه شنبه</p>
                                <p id="dateTues"></p>
                                <p id="monthTues"></p>
                            </button>
                            <button id="wed" class="dateBox" style="display:none" ng-click="wedBtn()">
                                <p>چهار شنبه</p>
                                <p id="dateWed"></p>
                                <p id="monthWed"></p>
                            </button>
                            <button id="thur" class="dateBox" style="display:none" ng-click="thurBtn()">
                                <p>پنج شنبه</p>
                                <p id="dateThur"></p>
                                <p id="monthThur"></p>
                            </button>
                            <button id="fri" class="dateBox" style="display:none" ng-click="friBtn()">
                                <p>جمعه</p>
                                <p id="dateFri"></p>
                                <p id="monthFri"></p>
                            </button>
                            <button id="sat" class="dateBox" style="display:none" ng-click="satBtn()">
                                <p>شنبه</p>
                                <p id="dateSat"></p>
                                <p id="monthSat"></p>
                            </button>
                        </div>
                    </div>
                    <div id="popSat" class="Time">
                        <button class="button" ng-repeat="x in saturDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                    </div>
                    <div id="popSun" class="Time">
                        <button class="button" ng-repeat="x in sunDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                    </div>
                    <div id="popMon" class="Time">
                        <button class="button" ng-repeat="x in monDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.EndTime}} - {{x.StartTime}}</button>
                    </div>
                    <div id="popTues" class="Time">
                        <button class="button" ng-repeat="x in tuesDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                    </div>
                    <div id="popWed" class="Time">
                        <button class="button" ng-repeat="x in wednesDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                    </div>
                    <div id="popThur" class="Time">
                        <button class="button" ng-repeat="x in thursDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                    </div>
                    <div id="popFri" class="Time">
                        <button class="button" ng-repeat="x in friDay track by $index" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                    </div>
                    <button ng-click="btn_save()">تایید</button>
                </div>
            </div>
        </div>
    </div>


</body>