<style>
    body {
        color: black
    }

    @font-face {
        font-family: 'IRANSansWeb';
        src: url('content/fonts/eot/IRANSansWeb.eot') format(‘eot’), url('content/fonts/woff/IRANSansWeb.woff') format('woff'), url('content/fonts/ttf/IRANSansWeb.ttf') format(‘truetype’);
    }

    @media (min-width:900px) {
        .postImage {
            width: 100%;
            height: 50%;
            padding: 0
        }

        .infoImage {
            width: 100%;
            height: 50%;
            padding: 3%
        }

        .info {
            background-color: white;
            margin-right: 2%;
            border: 2px solid lightgray;
            position: fixed;
            display: inline-block;
            border-radius: 5px
        }

        .reserve {
            background-color: white;
            border: 2px solid lightgray;
            position: fixed;
            display: inline-block;
            margin: 30% 2% 0 0;
            border-radius: 5px;
        }

        .post {
            background-color: white;
            margin-right: 14%;
            border: 2px solid lightgray;
            margin-bottom: 2%;
            border-radius: 5px;
            font-family: IRANSansWeb
        }

        .main {
            margin-top: 3%
        }

        .infoText {
            padding: 3%
        }

        .reserveInfo {
            width: 50%;
            margin: auto;
            margin-top: 5%
        }

            .reserveInfo p {
                text-align: center;
                font-size: x-large;
                font-family: system-ui
            }

        .about {
            padding: 3%;
            margin: 0 3% 0 3%
        }

        .mainText {
            padding: 0 3% 0 0;
            word-break: break-all
        }

        .title {
            background-color: white;
            border: none;
            padding-right: 3%;
            font-size: 30px
        }

        .btn_reserve {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
            padding: 3%;
            margin: 4% 0 4% 0;
            border-radius: 6px
        }

        .btn_reserve {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
            padding: 3%;
            margin: 4% 0 4% 0;
            border-radius: 6px;
            font-family: IRANSansWeb
        }

        .btn_about {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
            padding: 3%;
            margin: 4% 0 4% 0;
            border-radius: 6px;
            font-family: IRANSansWeb
        }

        .topnav {
            display: none
        }
    }


    @media only screen and (max-device-width: 900px) {
        

        .postImage {
            width: 100%;
            height: 50%;
            padding: 0
        }

        .infoImage {
            width: 100%;
            height: 50%;
            padding: 3%
        }

        .info {
            display: none
        }

        .reserve {
            display: none
        }

        .post {
            background-color: white;
            border: 2px solid lightgray;
            border-radius: 5px;
            font-family: IRANSansWeb;
            margin: 2%;
            width: 96%
        }

        .main {
            margin-top: 3%
        }

        .infoText {
            padding: 3%
        }

        .reserveInfo {
            width: 50%;
            margin: auto;
            margin-top: 5%
        }

            .reserveInfo p {
                text-align: center;
                font-size: x-large;
                font-family: system-ui
            }

        .about {
            padding: 3%;
            margin: 0 3% 0 3%
        }

        .mainText {
            padding: 0 3% 0 0;
            word-break: break-all
        }

        .title {
            background-color: white;
            border: none;
            padding-right: 3%;
            font-size: 30px
        }

        .btn_reserve {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
            padding: 3%;
            margin: 4% 0 4% 0;
            border-radius: 6px
        }

        .btn_reserve {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
            padding: 3%;
            margin: 4% 0 4% 0;
            border-radius: 6px;
            font-family: IRANSansWeb
        }

        .btn_about {
            background-color: black;
            border: none;
            color: white;
            width: 100%;
            padding: 3%;
            margin: 4% 0 4% 0;
            border-radius: 6px;
            font-family: IRANSansWeb
        }

      
    }



    @media only screen and (max-device-height :1400px) {
    }
</style>


<body>

    <div class="topnav">
        <a href="#home" class="navbar">مرکز دکتر محمد رضا خدابخش</a>
        <div id="menu">
            <a ng-click="btn_reserve()">رزرو وقت ویزیت</a>
            <a ng-click="btn_about()">درباره دکتر محمد رضا خدا بخش</a>
        </div>
        <a ng-click="openMenu()" class="icon">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <div class="main">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 post" ng-repeat="x in posts">
            <img ng-src="{{x.Image}}" class="postImage" />
            <!--<h5 ng-click="navPost(x.Title)" style="padding-right:3%">{{x.Title}}</h5>-->
            <button ng-click="navPost(x.Title)" class="title"><b>{{x.Title}}</b></button>
            <p class="mainText">{{x.Summery}}</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 info">
            <div class="about">
                <img src="img/folder.jpg" class="infoImage" />
                <button ng-click="btn_about()" class="btn_about">درباره دکتر محمد رضا خدا بخش</button>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 reserve">
            <div class="reserveInfo">
                <img src="img/psychoanalyst.jpg" style="width:100%" />
                <button ng-click="btn_reserve()" class="btn_reserve">رزرو وقت ویزیت</button>
            </div>
        </div>

    </div>



</body>