<style>


    @media (min-width:900px) {

        .topnav {
            display: none
        }
    }


    @media only screen and (max-device-width: 900px) {
    }


    @media only screen and (max-device-height :1400px) {
        .btn_pay {
            background-color: black;
            color: white;
            width: 100%;
            border-radius: 5px;
        }

    }
</style>



<div style="width:60%; margin:auto">
    <div style="border:1px solid black; margin:5% 0 0 0 ; border-bottom:none">
        <p style="display:inline-block">نام و نام خانوادگی : {{Name}} {{LastName}}</p>
        <br />
        <p style="display:inline-block">شناسه : {{TrackingNO}}</p>
    </div>


    <div style="border:1px solid black; margin:0 0 5% 0">
        <p style="display:inline-block">  کاربر محترم نوبت ویزیت شما با دکتر {{PsychoanalystName}}   در وقت <p style="direction:rtl; display:inline-block">{{Time}}</p> رزرو شد</p>
    </div>

    
    <button ng-click="btn_pay()" class="btn_pay">پرداخت</button>
</div>