<body>

    <div style="width:30%; margin:auto">

        <p class="inputTitle">شماره تلفن همراه</p>
        <div dx-text-box="txt_UserName" class="input loginInput" dx-validator="{validationGroup:'form',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
        <p class="inputTitle">رمز</p>
        <div dx-text-box="txt_Password" class="input loginInput" dx-validator="{validationGroup:'form',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
        <div dx-button="btn_save" style="margin-top:20px"></div>

    </div>
</body>