<style>
    body {
        background-color: #f5f5f5 !important
    }

    @font-face {
        font-family: 'IRANSansWeb';
        src: url('content/fonts/eot/IRANSansWeb.eot') format(‘eot’), url('content/fonts/woff/IRANSansWeb.woff') format('woff'), url('content/fonts/ttf/IRANSansWeb.ttf') format(‘truetype’);
    }

    h2 {
        text-align: center;
        margin: 10% 0 10% 0
    }

    @media (min-width:756px) {
        .login {
            background-color: white;
            width: 30%;
            border-radius: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #d6d6d6
        }

        .btn_save {
            display: block;
            width: 80%;
            background-color: black;
            color: white;
            margin: 4% auto 10% auto;
            border-radius: 5px;
            text-align: center;
            padding: 2%
        }

        .loginInput {
            width: 100%;
            margin: 0 auto 0 auto;
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px
        }

        .loginField {
            width: 80%;
            margin: 0 auto 0 auto;
            border: none;
            border-radius: 5px
        }
    }

    @media (max-width:756px) {
        .login {
            background-color: white;
            width: 85%;
            border-radius: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #d6d6d6
        }

        .btn_save {
            display: block;
            width: 80%;
            background-color: black;
            color: white;
            margin: 4% auto 10% auto;
            border-radius: 5px;
            text-align: center;
            padding: 2%
        }

        .loginInput {
            width: 100%;
            margin: 0 auto 0 auto;
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px
        }

        .loginField {
            width: 80%;
            margin: 0 auto 0 auto;
            border: none;
            border-radius: 5px
        }
    }
</style>

<div class="topnav">
    <a ng-click="backHome()" class="navbar">مرکز دکتر محمد رضا خدابخش</a>
    <div id="menu">
        <a ng-click="btn_reserve()">رزرو وقت ویزیت</a>
        <a ng-click="btn_about()">درباره دکتر محمد رضا خدا بخش</a>
    </div>
    <a ng-click="openMenu()" class="icon">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="login">
    <h2>ورود به حساب کاربری</h2>

    <div class="loginField">
        <p class="inputTitle">نام کاربری</p>
        <input ng-model="UserName" class="loginInput" />
    </div>
    <div class="loginField">
        <p class="inputTitle">رمز</p>
        <input ng-model="Password" class="loginInput" />
    </div>
    <div ng-click="btn_save()" class="btn_save">ورود</div>
</div>
