<style>
    body {
        background-color: #f5f5f5 !important
    }

    @font-face {
        font-family: 'IRANSansWeb';
        src: url('content/fonts/eot/IRANSansWeb.eot') format(‘eot’), url('content/fonts/woff/IRANSansWeb.woff') format('woff'), url('content/fonts/ttf/IRANSansWeb.ttf') format(‘truetype’);
    }

    h2 {
        text-align: center;
        margin: 10% 0 10% 0
    }

    p{
        display:inline-block
    }
    @media (min-width:756px) {
        .login {
            background-color: white;
            width: 30%;
            border-radius: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #d6d6d6
        }

        .topnav {
            display: none
        }

        .form {
            width: 45%;
            display: inline-block;
            margin: 2% 3% 0 0;
        }

        .field {
            width: 60%;
            margin: 0 auto 0 auto;
            border: 1px solid #d6d6d6;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 8px
        }

        .input {
            width: 101%;
            margin: 0 0 0 auto;
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px
        }

        .btn_save {
            width: 45%;
            text-align: center;
            background-color: black;
            margin: 2% 3% 1% 0;
            color: white;
            border-radius: 8px;
            padding: 1%;
            display: inline-block
        }

        .textarea {
            width: 94%;
            margin: 0 3% 0 0;
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px;
        }
    }

    @media (max-width:756px) {
        .inputTitle {
            text-align: right;
            font-size: 12px;
            margin: 2% 3% 0 0 !important;
        }

        .form {
            width: 100%;
            display: block;
            /*margin: 2% 3% 0 0;*/
        }

        .field {
            width: 94%;
            margin: 3% auto 0 auto;
            border: 1px solid #d6d6d6;
            height: auto;
            background-color: white;
            border-radius: 8px
        }

        .input {
            width: 94%;
            margin: 0 3% 0 auto;
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px
        }

        .btn_save {
            width: 45%;
            text-align: center;
            background-color: black;
            margin: 2% 3% 1% 0;
            color: white;
            border-radius: 8px;
            padding: 1%;
            display: inline-block
        }

        .textarea {
            width: 94%;
            margin: 0 3% 0 0;
            background-color: white;
            border: 1px solid #d6d6d6;
            border-radius: 5px;
        }
    }
</style>

<div class="topnav">
    <a ng-click="backHome()" class="navbar">مرکز دکتر محمد رضا خدابخش</a>
    <div id="menu">
        <a ng-click="btn_reserve()">رزرو وقت ویزیت</a>
        <a ng-click="btn_about()">درباره دکتر محمد رضا خدا بخش</a>
    </div>
    <a ng-click="openMenu()" class="icon">
        <i class="fa fa-bars"></i>
    </a>
</div>



<div class="field">
    <div>
        <form class="form" name="form">
            <p class="inputTitle">نام</p><p id="name" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Name" name="Name" class="input" required />

            <p class="inputTitle">نام خانوادگی</p><p id="lastname" style="color:red;margin:0; display:none">*</p>
            <input ng-model="LastName" class="input" />

            <p class="inputTitle">تلفن همراه</p><p id="mobile" style="color:red;margin:0; display:none">*</p><p id="checkMobile" style="color:red;margin:0; display:none">لطفا تلفن موبایل صحیح را وارد کنید</p>
            <input ng-model="Mobile" class="input" />

            <p class="inputTitle">ایمیل</p><p id="email" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Email" class="input" />

            <p class="inputTitle">سن</p><p id="age" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Age" class="input" />

            <p class="inputTitle">تعداد فرزند</p><p id="childNo" style="color:red;margin:0; display:none">*</p>
            <input ng-model="ChildrenNum" class="input" />

            <p class="inputTitle">شغل</p><p id="job" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Job" class="input" />

        </form>
        <div class="form">
            <p class="inputTitle">وضعیت ازدواج</p><p id="marital" style="color:red;margin:0; display:none">*</p>
            <select ng-model="MaritalStatus" ng-options="x for x in MaritalStatusList" class="input" style="height:30px"></select>

            <p class="inputTitle">موضوع</p><p id="subject" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Subject" class="input" />

            <p class="inputTitle">معرف</p><p id="introduced" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Introduced" class="input" />

            <p class="inputTitle">رمز عبور</p><p id="password" style="color:red;margin:0; display:none">*</p>
            <input ng-model="Password" type="password" class="input" />

            <p class="inputTitle">تکرار رمز عبور</p><p id="confirmPassword" style="color:red;margin:0; display:none">*</p>
            <input ng-model="ConfirmPassword" type="password" class="input" />

            <p class="inputTitle">وضعیت تحصیلی</p><p id="education" style="color:red;margin:0; display:none">*</p>
            <select ng-model="Education" style="height:30px" ng-options="x for x in EducationList" class="input"></select>

            <p class="inputTitle">رشته تحصیلی</p><p id="fieldOfStudy" style="color:red;margin:0; display:none">*</p>
            <input ng-model="FieldOfStudy" class="input" />

        </div>


        <p class="inputTitle" style="margin-right:5%">علت مراجعه</p><p id="reason" style="color:red;margin:0; display:none">*</p>
        <textarea ng-model="Reason" class="textarea" />

        <div ng-click="btn_showPsychoanalyst()" class="btn_save">تایید</div>
        <p ng-click="signedUp()" style="margin:3% 0 0 4%; display:inline-block; float:left; color:#a8a8a8">قبلا ثبت نام کرده اید ؟</p>

    </div>
</div>
