<style>


    @media (min-width:900px) {
        .dateBox {
            background-color: white;
            width: 20%;
            height: 10%;
            text-align: center;
            margin: 10px;
            border-radius: 5px;
            display: none;
            border: 2px solid #d9d9d9;
        }

        .signedUp {
            cursor: pointer;
        }

            .signedUp:hover {
                color: lightgray
            }

        .selectPsychoanalyst {
            background-color: white !important;
            color: black !important;
            border: 1px solid black;
            display: inline-block;
            border-radius: 5px;
            width: 40%
        }
    }


    @media only screen and (max-device-width: 900px) {
        .dateBox {
            background-color: white;
            width: 40%;
            height: 10%;
            text-align: center;
            margin: 10px;
            border-radius: 5px;
            display: none;
            border: 2px solid #d9d9d9
        }

        .selectPsychoanalyst {
            background-color: white !important;
            color: black !important;
            border: 1px solid black;
            margin: 2% auto 2% auto !important;
            display: inline-block;
            border-radius: 5px;
            width: 100%
        }
    }


    @media only screen and (max-device-height :1400px) {
        .button {
            background-color: white;
            height: 30px;
            width: 100px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 2px 8px;
            position: center;
            color: black;
            width: 45%
        }

        .dateBox {
            background-color: white;
            width: 26%;
            height: 10%;
            text-align: center;
            margin: 10px;
            border-radius: 5px;
            display: inline-block;
            border: 2px solid #d9d9d9
        }
    }
</style>



<body>

    <div class="topnav">
        <a href="#home" class="navbar">مرکز دکتر محمد رضا خدابخش</a>
        <div id="menu">
            <a ng-click="btn_reserve()">رزرو وقت ویزیت</a>
            <a ng-click="btn_about()">درباره دکتر محمد رضا خدا بخش</a>
        </div>
        <a ng-click="openMenu()" class="icon">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <div id="choosePsychoanalyst" class="w3-modal" style="display:none">
        <div class="w3-modal-content w3-animate-zoom" style="width:45%;height:auto;border-radius:5px;background-color:#fff">
            <div class="field w3-modal-content w3-animate-zoom">
                <button class="selectPsychoanalyst" ng-repeat="x in Psychoanalysts" ng-click="showPsychoanalysts(x.Name, x.LastName, x.WeekDays, x.PsychoanalystId)">{{x.Name}} {{x.LastName}}</button>
                <div style="margin:0px auto 0px auto">
                    <button id="sun" class="dateBox" style="display:none" ng-click="sunBtn()">
                        <p>یکشنبه</p>
                        <p id="dateSun"></p>
                        <p id="monthSun"></p>
                    </button>
                    <button id="mon" class="dateBox" style="display:none" ng-click="monBtn()">
                        <p>دوشنبه</p>
                        <p id="dateMon"></p>
                        <p id="monthMon"></p>
                    </button>
                    <button id="tues" class="dateBox" style="display:none" ng-click="tuesBtn()">
                        <p>سه شنبه</p>
                        <p id="dateTues"></p>
                        <p id="monthTues"></p>
                    </button>
                    <button id="wed" class="dateBox" style="display:none" ng-click="wedBtn()">
                        <p>چهار شنبه</p>
                        <p id="dateWed"></p>
                        <p id="monthWed"></p>
                    </button>
                    <button id="thur" class="dateBox" style="display:none" ng-click="thurBtn()">
                        <p>پنج شنبه</p>
                        <p id="dateThur"></p>
                        <p id="monthThur"></p>
                    </button>
                    <button id="fri" class="dateBox" style="display:none" ng-click="friBtn()">
                        <p>جمعه</p>
                        <p id="dateFri"></p>
                        <p id="monthFri"></p>
                    </button>
                    <button id="sat" class="dateBox" style="display:none" ng-click="satBtn()">
                        <p>شنبه</p>
                        <p id="dateSat"></p>
                        <p id="monthSat"></p>
                    </button>
                </div>
                <div id="popSat" class="Time">
                    <button class="button" ng-repeat="x in saturDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                </div>
                <div id="popSun" class="Time">
                    <button class="button" ng-repeat="x in sunDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                </div>
                <div id="popMon" class="Time">
                    <button class="button" ng-repeat="x in monDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.EndTime}} - {{x.StartTime}}</button>
                </div>
                <div id="popTues" class="Time">
                    <button class="button" ng-repeat="x in tuesDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                </div>
                <div id="popWed" class="Time">
                    <button class="button" ng-repeat="x in wednesDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                </div>
                <div id="popThur" class="Time">
                    <button class="button" ng-repeat="x in thursDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                </div>
                <div id="popFri" class="Time">
                    <button class="button" ng-repeat="x in friDay" ng-click="timeRegistration(x.StartTime , x.EndTime)">{{x.StartTime}} {{x.EndTime}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="field">

        <h4 ng-click="signedUp()" class="signedUp">قبلا ثبت نام کرده اید ؟</h4>

        <p class="inputTitle">نام</p>
        <input ng-model="Name" class="input" />

        <p class="inputTitle">نام خانوادگی</p>
        <input ng-model="LastName" class="input" />

        <p class="inputTitle">تلفن همراه</p>
        <input ng-model="Mobile" class="input" />

        <p class="inputTitle">ایمیل</p>
        <input ng-model="Email" class="input" />

        <p class="inputTitle">سن</p>
        <input ng-model="Age" class="input" />

        <p class="inputTitle">تعداد فرزند</p>
        <input ng-model="ChildrenNum" class="input" />

        <p class="inputTitle">شغل</p>
        <input ng-model="Job" class="input" />

        <p class="inputTitle">وضعیت تحصیلی</p>
        <input ng-model="Education" class="input" />

        <p class="inputTitle">رشته تحصیلی</p>
        <input ng-model="FieldOfStudy" class="input" />

        <p class="inputTitle">وضعیت ازدواج</p>
        <input ng-model="MaritalStatus" class="input" />

        <p class="inputTitle">موضوع</p>
        <input ng-model="Subject" class="input" />

        <p class="inputTitle">علت مراجعه</p>
        <input ng-model="Reason" class="input" />

        <p class="inputTitle">معرف</p>
        <input ng-model="Introduced" class="input" />

        <p class="inputTitle">رمز عبور</p>
        <input ng-model="Password" class="input" />

        <p class="inputTitle">تکرار رمز عبور</p>
        <input ng-model="ConfirmPassword" class="input" />

        <button ng-click="btn_showPsychoanalyst()" class="confirmBtn">تایید</button>
    </div>



</body>