<style>

    @font-face {
        font-family: 'IRANSansWeb';
        src: url('content/fonts/eot/IRANSansWeb.eot') format(‘eot’), url('content/fonts/woff/IRANSansWeb.woff') format('woff'), url('content/fonts/ttf/IRANSansWeb.ttf') format(‘truetype’);
    }

    body {
        color: black;
        font-family:IRANSansWeb
    }


    
    @media (min-width:900px) {
        .postImage {
            width: 80%;
            height: 50%;
            display: block;
            margin: 5% auto 0 auto
        }

        .infoImage {
            width: 100%;
            height: 50%;
            padding: 3%
        }

        .info {
            background-color: white;
            margin-right: 1%;
            border-top: 12px solid black !important;
            border: 2px solid lightgray;
            position: fixed;
            display: inline-block
        }

        .post {
            background-color: white;
            margin: auto;
            width: 60%
        }

        .main {
            margin-top: 3%
        }

        .infoText {
            padding: 3%
        }

        .btn_reserve {
            width: 50%;
            margin: auto;
            margin-top: 5%
        }


        .mainText {
            width: 80%;
            font-size: 18px;
            margin: 2% auto 0 auto;
        }

        .title {
            font-size: 30px;
            text-align: right;
            padding-top: 3%
        }

        .summery {
            font-size: 18px;
            text-align: right;
        }

        .topInfo {
            width: 80%;
            margin: auto;
            border-bottom: 1px solid lightgray
        }

        .socialBar{
            width:80%;
            margin:auto
        }
    }


    @media only screen and (max-device-width: 900px) {
    }


    @media only screen and (max-device-height :1400px) {
    }
</style>
<div class=" post" ng-repeat="x in post">
    <div class="topInfo">
        <h4 ng-click="navPost(x.Title)" class="title"><b>{{x.Title}}</b></h4>
        <p class="summery">{{x.Summery}}</p>
    </div>
    <div class="w3-xlarge w3-section socialBar">
        <a href="https://t.me/Dr_answer"><i class="fa fa-telegram w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/dr_mrkhodabakhsh/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
    <img ng-src="{{x.Image}}" class="postImage" />
    <p class="mainText">{{x.Body}}</p>
</div>

